/* CSS declarations go here */
.list-group {
    max-height: 329px;
    overflow: auto;
}
.navbar-text {
    list-style: none;
}
.wide-text-edit {
    width: 85%;
    margin-right: 5px;
}

.editable-text {
    margin-right: 5px;
}

.finished {
    text-decoration: overline;
}

.js-delete-project, .js-delete-task {
    border: 0;
    color: #cccccc;
    margin-right: -5px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#highcharts-0 {
    height: 65px !important;
}